Data: https://www.kaggle.com/mustfkeskin/turkish-movie-sentiment-analysis-dataset/code

Preprocessing guide:

* 1: Organize the dataset and comment column
* 2: Drop film_name column
* 3: Change point column's rows to integers
* 4: Remove punctuation (comment column)
* 5: Remove stopwords and make sentences lower(comment column)
* 6: Stemming (comment column)

In [2]:
import pandas as pd

df = pd.read_csv("turkish_movie_sentiment_dataset.csv")
df.head()

                                             comment      film_name point
0  \n                      Jean Reno denince zate...  Sevginin Gücü   5,0
1  \n                      Ekşın falan izlemek is...  Sevginin Gücü   5,0
2  \n                      Bu yapım hakkında öyle...  Sevginin Gücü   5,0
3  \n                      finali yeter... (sting...  Sevginin Gücü   5,0
4  \n                      Jean Reno..\r\nbu adam...  Sevginin Gücü   5,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83227 entries, 0 to 83226
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   comment    83227 non-null  object
 1   film_name  83227 non-null  object
 2   point      83227 non-null  object
dtypes: object(3)
memory usage: 1.9+ MB

## Preprocess

In [4]:
# Drop the unnecessary characters (space chars, \n and etc.) from the beginning and the end
df["comment"] = df["comment"].str[23:-22]

In [5]:
df.head()

                                             comment      film_name point
0  Jean Reno denince zaten leon filmi gelir akla ...  Sevginin Gücü   5,0
1  Ekşın falan izlemek istiyorsanız eğer bunu izl...  Sevginin Gücü   5,0
2  Bu yapım hakkında öyle çok şey yazabilirim ki ...  Sevginin Gücü   5,0
3  finali yeter... (sting - shape of my heart)\r\...  Sevginin Gücü   5,0
4  Jean Reno..\r\nbu adam kusursuz biri..\r\nve o...  Sevginin Gücü   5,0

In [6]:
df.drop("film_name", axis=1, inplace=True)
df.head()

                                             comment point
0  Jean Reno denince zaten leon filmi gelir akla ...   5,0
1  Ekşın falan izlemek istiyorsanız eğer bunu izl...   5,0
2  Bu yapım hakkında öyle çok şey yazabilirim ki ...   5,0
3  finali yeter... (sting - shape of my heart)\r\...   5,0
4  Jean Reno..\r\nbu adam kusursuz biri..\r\nve o...   5,0

### Remove punctuation

In [7]:
df['comment'] = df['comment'].str.replace(r'[^\w\s]+', '')

In [8]:
#import nltk
#
#nltk.download("stopwords")

In [9]:
#from nltk.corpus import stopwords
#
#stop_words = stopwords.words("turkish")
#stop_words[:10]

In [10]:
#stop_words = set(stop_words)

In [11]:
#no_stopwords = [word for word in line if word not in stop_words]

In [12]:
#print("With stopwords: ", " ".join(line))
#print("\nWithout: ", " ".join(no_stopwords))

In [13]:
#!pip install TurkishStemmer

In [14]:
#from TurkishStemmer import TurkishStemmer

#my = TurkishStemmer()
#stemmed = [(my.stem(word), word) for word in tweet]
#stemmed

In [15]:
#tweet = "bugün seninle harika bir gün geçirecekmişiz; gibi. Hissed|iyorum ne de olsa biz harikayız"
#tweet.translate(str.maketrans('', '', string.punctuation))