Data: https://www.kaggle.com/mustfkeskin/turkish-movie-sentiment-analysis-dataset/code

Preprocessing guide:

* 1: Organize the dataset and comment column
* 2: Drop film_name column
* 3: Change point column's rows to integers
* 4: Remove punctuation (comment column)
* 5: Remove stopwords and make sentences lower(comment column)
* 6: Stemming (comment column)

In [4]:
!nvidia-smi -L

GPU 0: NVIDIA GeForce GTX 1050 Ti (UUID: GPU-ada268bc-35a4-5a51-f812-70e7584578bb)

In [5]:
import pandas as pd

df = pd.read_csv("data/turkish_movie_sentiment_dataset.csv")
df.head()

                                             comment      film_name point
0  \n                      Jean Reno denince zate...  Sevginin Gücü   5,0
1  \n                      Ekşın falan izlemek is...  Sevginin Gücü   5,0
2  \n                      Bu yapım hakkında öyle...  Sevginin Gücü   5,0
3  \n                      finali yeter... (sting...  Sevginin Gücü   5,0
4  \n                      Jean Reno..\r\nbu adam...  Sevginin Gücü   5,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83227 entries, 0 to 83226
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   comment    83227 non-null  object
 1   film_name  83227 non-null  object
 2   point      83227 non-null  object
dtypes: object(3)
memory usage: 1.9+ MB

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83227 entries, 0 to 83226
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   comment    83227 non-null  object
 1   film_name  83227 non-null  object
 2   point      83227 non-null  object
dtypes: object(3)
memory usage: 1.9+ MB

## Preprocess

In [8]:
# Drop the unnecessary characters (space chars, \n and etc.) from the beginning and the end
df["comment"] = df["comment"].str[23:-22]

In [9]:
df.head()

                                             comment      film_name point
0  Jean Reno denince zaten leon filmi gelir akla ...  Sevginin Gücü   5,0
1  Ekşın falan izlemek istiyorsanız eğer bunu izl...  Sevginin Gücü   5,0
2  Bu yapım hakkında öyle çok şey yazabilirim ki ...  Sevginin Gücü   5,0
3  finali yeter... (sting - shape of my heart)\r\...  Sevginin Gücü   5,0
4  Jean Reno..\r\nbu adam kusursuz biri..\r\nve o...  Sevginin Gücü   5,0

In [10]:
df.drop("film_name", axis=1, inplace=True)
df.head()

                                             comment point
0  Jean Reno denince zaten leon filmi gelir akla ...   5,0
1  Ekşın falan izlemek istiyorsanız eğer bunu izl...   5,0
2  Bu yapım hakkında öyle çok şey yazabilirim ki ...   5,0
3  finali yeter... (sting - shape of my heart)\r\...   5,0
4  Jean Reno..\r\nbu adam kusursuz biri..\r\nve o...   5,0

### Remove punctuation

In [11]:
df['comment'] = df['comment'].str.replace(r'[^\w\s]+', '')
df.head()

C:\Users\egehan\AppData\Local\Temp/ipykernel_7132/2654021393.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['comment'] = df['comment'].str.replace(r'[^\w\s]+', '')

                                             comment point
0  Jean Reno denince zaten leon filmi gelir akla ...   5,0
1  Ekşın falan izlemek istiyorsanız eğer bunu izl...   5,0
2  Bu yapım hakkında öyle çok şey yazabilirim ki ...   5,0
3  finali yeter sting  shape of my heart\r\n\r\nb...   5,0
4  Jean Reno\r\nbu adam kusursuz biri\r\nve oyunc...   5,0

In [12]:
df["comment"] = df["comment"].str.lower()
df.head()

                                             comment point
0  jean reno denince zaten leon filmi gelir akla ...   5,0
1  ekşın falan izlemek istiyorsanız eğer bunu izl...   5,0
2  bu yapım hakkında öyle çok şey yazabilirim ki ...   5,0
3  finali yeter sting  shape of my heart\r\n\r\nb...   5,0
4  jean reno\r\nbu adam kusursuz biri\r\nve oyunc...   5,0

In [13]:
import nltk

nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\egehan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
from nltk.corpus import stopwords

stop_words = stopwords.words("turkish")
stop_words[:10]

['acaba',
 'ama',
 'aslında',
 'az',
 'bazı',
 'belki',
 'biri',
 'birkaç',
 'birşey',
 'biz']

In [15]:
def print_lines(column, n): 
    counter = 0
    for i in column:
        print(i)
        print("########\n")
        counter+=1
        if counter == n:
            break

print_lines(df["comment"], 3)

jean reno denince zaten leon filmi gelir akla izlemeyen kalmamıştır ama kaldıysada ee ne duruyorsun hemen izle
########

ekşın falan izlemek istiyorsanız eğer bunu izlemeyiin dostlarım keza ilk sahne hariç ekşın filmde yerini gittikçe duygusallığa bırakır mathildanın leonun evine geldiğinde ağladığı sahnede ben de ağlamış olabilirim tamam olabilirim değil ağladım ama sen de izle ağlarsın dostooom
etkileyici bir film sıkmıyor hiçbir salise boyunca sizi
 ben artık büyüdüm leon yaşlanıyorum
 hayat hep böyle zor mu yoksa sadece çocukken mi
########

bu yapım hakkında öyle çok şey yazabilirim ki kitap olur o yüzden kısa kesmem lazım bir kere ağladığım iki filmden birisidirdiğeri  yeşil yol i̇zlediğim en iyi film midir karar veremeyeceğim ama izlediğim en sanatsal sahneleri barındıran luc besson harikası olduğu kesindir

oyunculardan sıkça bahseldilmiş o konuya girmeyeceğim ama luc besson abi sen de ne cevher varmış demekten kendimi alamıyorum yönetmenlikten çabuk çekilerek kıytırık aksiyon filmlerine senaryo yazman çok yazık oldu gerçekten tüm bu övgülerim eric serra içinde geçerlidir nitekim hiç abartmıyorum filmin  50 si eric serra nın hakkıdır muhteşem melodilerine hayranım

son olarak natalie portman a değineyim sen ne kadar tatlı munis bir şeymişsin yahu küçükken ayrı bir havan şimdi ayrı bir havan var az yazalım dedik ama döktürmüşüm görüyorumki buradan da anlayabilirsiniz hayatımın filmi olduğunu
########

In [16]:
stop_words = set(stop_words)
df['comment'] = df['comment'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
#no_stopwords = [word for word in line if word not in stop_words]

In [17]:
print_lines(df["comment"], 3)

jean reno denince zaten leon filmi gelir akla izlemeyen kalmamıştır kaldıysada ee duruyorsun hemen izle
########

ekşın falan izlemek istiyorsanız bunu izlemeyiin dostlarım keza ilk sahne hariç ekşın filmde yerini gittikçe duygusallığa bırakır mathildanın leonun evine geldiğinde ağladığı sahnede ben ağlamış olabilirim tamam olabilirim değil ağladım sen izle ağlarsın dostooom etkileyici bir film sıkmıyor hiçbir salise boyunca sizi ben artık büyüdüm leon yaşlanıyorum hayat böyle zor yoksa sadece çocukken mi
########

yapım hakkında öyle yazabilirim kitap olur yüzden kısa kesmem lazım bir kere ağladığım iki filmden birisidirdiğeri yeşil yol i̇zlediğim iyi film midir karar veremeyeceğim izlediğim sanatsal sahneleri barındıran luc besson harikası olduğu kesindir oyunculardan sıkça bahseldilmiş konuya girmeyeceğim luc besson abi sen cevher varmış demekten kendimi alamıyorum yönetmenlikten çabuk çekilerek kıytırık aksiyon filmlerine senaryo yazman yazık oldu gerçekten övgülerim eric serra içinde geçerlidir nitekim abartmıyorum filmin 50 si eric serra nın hakkıdır muhteşem melodilerine hayranım son olarak natalie portman a değineyim sen kadar tatlı munis bir şeymişsin yahu küçükken ayrı bir havan şimdi ayrı bir havan var yazalım dedik döktürmüşüm görüyorumki buradan anlayabilirsiniz hayatımın filmi olduğunu
########

In [18]:
from TurkishStemmer import TurkishStemmer

stemmer = TurkishStemmer()

In [19]:
df['comment'] = df['comment'].str.split()
df.head()

                                             comment point
0  [jean, reno, denince, zaten, leon, filmi, geli...   5,0
1  [ekşın, falan, izlemek, istiyorsanız, bunu, iz...   5,0
2  [yapım, hakkında, öyle, yazabilirim, kitap, ol...   5,0
3  [finali, yeter, sting, shape, of, my, heart, b...   5,0
4  [jean, reno, adam, kusursuz, oyunculugu, müthi...   5,0

In [20]:
df['comment'] = df['comment'].apply(lambda x: [stemmer.stem(y) for y in x])

In [21]:
df.head()

                                             comment point
0  [jean, reno, deni, zaten, leon, film, gelir, a...   5,0
1  [ekşı, falan, izlemek, istiyor, bun, izlemey, ...   5,0
2  [yap, hakk, öyl, yazabilir, kitap, olur, yüz, ...   5,0
3  [finali, yeter, sting, shape, of, my, heart, b...   5,0
4  [jean, reno, ada, kusurs, oyunculug, müthiş, f...   5,0

In [22]:
print_lines(df["comment"], 3)

['jean', 'reno', 'deni', 'zaten', 'leon', 'film', 'gelir', 'akl', 'izlemeyen', 'kalm', 'kaldıysa', 'e', 'duruyor', 'hemen', 'izl']
########

['ekşı', 'falan', 'izlemek', 'istiyor', 'bun', 'izlemey', 'dost', 'keza', 'ilk', 'sahne', 'hariç', 'ekşı', 'film', 'yer', 'gittikç', 'duygusallık', 'bırakır', 'mathilda', 'leon', 'ev', 'geldik', 'ağladık', 'sahne', 'ben', 'ağla', 'olabilir', 'tama', 'olabilir', 'değil', 'ağla', 'sen', 'izl', 'ağlar', 'dostooom', 'etkileyiç', 'bir', 'film', 'sıkmıyor', 'hiçbir', 'sali', 'boyu', 'siz', 'ben', 'ar', 'büyü', 'leon', 'yaşlanıyor', 'hayat', 'böyl', 'zor', 'yoks', 'sade', 'çocukken', 'mi']
########

['yap', 'hakk', 'öyl', 'yazabilir', 'kitap', 'olur', 'yüz', 'kıs', 'kesme', 'lazım', 'bir', 'ker', 'ağladık', 'ik', 'film', 'birisidirdiğer', 'yeşil', 'yol', 'i̇zlediğim', 'iyi', 'film', 'mi', 'karar', 'veremeyecek', 'izledik', 'sanatsal', 'sahne', 'barındıran', 'luc', 'besson', 'harika', 'olduk', 'kes', 'oyuncu', 'sıkç', 'bahseldil', 'konu', 'girmeyecek', 'luc', 'besson', 'abi', 'sen', 'cevher', 'var', 'demek', 'kent', 'alamıyor', 'yönetmenlik', 'çabuk', 'çekilerek', 'kıytırık', 'aksiyon', 'film', 'senaryo', 'yazman', 'yazık', 'olt', 'gerçek', 'övgü', 'eric', 'serra', 'iç', 'geçer', 'nitek', 'abartmıyor', 'film', '50', 'si', 'eric', 'serra', 'nın', 'hakk', 'muhteşe', 'melodi', 'hayran', 'son', 'olarak', 'natali', 'portman', 'a', 'dek', 'sen', 'kadar', 'tatl', 'munis', 'bir', 'şe', 'yahu', 'küçük', 'ayr', 'bir', 'havan', 'şimt', 'ayr', 'bir', 'havan', 'var', 'yazal', 'de', 'döktür', 'görüyorumki', 'bura', 'anlayabilir', 'hayat', 'film', 'olduk']
########

In [23]:
df['comment'] = df['comment'].apply(lambda x: ' '.join(word for word in x))

In [24]:
df.head()

                                             comment point
0  jean reno deni zaten leon film gelir akl izlem...   5,0
1  ekşı falan izlemek istiyor bun izlemey dost ke...   5,0
2  yap hakk öyl yazabilir kitap olur yüz kıs kesm...   5,0
3  finali yeter sting shape of my heart bazı film...   5,0
4  jean reno ada kusurs oyunculug müthiş film baş...   5,0

In [25]:
train_sentences = df["comment"].tolist()

train_sentences[:3]

['jean reno deni zaten leon film gelir akl izlemeyen kalm kaldıysa e duruyor hemen izl',
 'ekşı falan izlemek istiyor bun izlemey dost keza ilk sahne hariç ekşı film yer gittikç duygusallık bırakır mathilda leon ev geldik ağladık sahne ben ağla olabilir tama olabilir değil ağla sen izl ağlar dostooom etkileyiç bir film sıkmıyor hiçbir sali boyu siz ben ar büyü leon yaşlanıyor hayat böyl zor yoks sade çocukken mi',
 'yap hakk öyl yazabilir kitap olur yüz kıs kesme lazım bir ker ağladık ik film birisidirdiğer yeşil yol i̇zlediğim iyi film mi karar veremeyecek izledik sanatsal sahne barındıran luc besson harika olduk kes oyuncu sıkç bahseldil konu girmeyecek luc besson abi sen cevher var demek kent alamıyor yönetmenlik çabuk çekilerek kıytırık aksiyon film senaryo yazman yazık olt gerçek övgü eric serra iç geçer nitek abartmıyor film 50 si eric serra nın hakk muhteşe melodi hayran son olarak natali portman a dek sen kadar tatl munis bir şe yahu küçük ayr bir havan şimt ayr bir havan var yazal de döktür görüyorumki bura anlayabilir hayat film olduk']

In [26]:
import numpy as np

sent_lens = [len(sentence.split()) for sentence in train_sentences]
avg_sent_len = np.mean(sent_lens)
max_sent_len = np.max(sent_lens)
avg_sent_len, max_sent_len

(36.48517908851695, 3608)

In [27]:
# How long of a sentence lenght covers 95% of examples?
output_seq_len = int(np.percentile(sent_lens, 95))

output_seq_len

113

In [33]:
# How long of a sentence lenght covers 97% of examples?
x = int(np.percentile(sent_lens, 97))

x

159

In [34]:
output_seq_len = 160

In [35]:
import tensorflow as tf
import torch

# Check GPU
device_name = tf.test.gpu_device_name()
if device_name == '/device:GPU:0':
    device = torch.device("cuda")
    print('GPU:', torch.cuda.get_device_name(0))
else:
    raise SystemError('GPU device not found')

GPU: NVIDIA GeForce GTX 1050 Ti

In [36]:
from transformers import BertTokenizer

# initialize tokenizer
#tokenizer = BertTokenizer.from_pretrained('bert-base-cased')
tokenizer = BertTokenizer.from_pretrained('dbmdz/bert-base-turkish-128k-uncased', do_lower_case=True)

# tokenize - this time returning Numpy tensors
tokens = tokenizer(df['comment'].tolist(), max_length=output_seq_len, truncation=True,
                   padding='max_length', add_special_tokens=True,
                   return_tensors='np')

In [37]:
sentence = "Bu film berbat. Cidden en kötü film ama izlenir yine de"
tokenized_sentence = tokenizer.tokenize(sentence)
tokenized_sentence

['bu',
 'film',
 'berbat',
 '.',
 'cidden',
 'en',
 'kotu',
 'film',
 'ama',
 'izlenir',
 'yine',
 'de']

In [38]:
x = tokenizer.convert_tokens_to_ids(tokenized_sentence)
x

[1964, 2767, 13686, 18, 17081, 2064, 36007, 2767, 2156, 41667, 3000, 1961]

In [39]:
tokenizer.convert_ids_to_tokens(x)

['bu',
 'film',
 'berbat',
 '.',
 'cidden',
 'en',
 'kotu',
 'film',
 'ama',
 'izlenir',
 'yine',
 'de']

In [40]:
tokens.keys()

dict_keys(['input_ids', 'token_type_ids', 'attention_mask'])

In [41]:
tokens["input_ids"][:10], tokens["input_ids"][0].shape

(array([[     2,  13158,  62480, ...,      0,      0,      0],
        [     2,   9659,   1022, ...,      0,      0,      0],
        [     2,   1997,   2533, ...,      0,      0,      0],
        ...,
        [     2,   2185,   3538, ...,      0,      0,      0],
        [     2,   2767,  14368, ...,      0,      0,      0],
        [     2, 113289,   2767, ...,      0,      0,      0]]),
 (160,))

In [42]:
with open('movie-xids.npy', 'wb') as f:
    np.save(f, tokens['input_ids'])
with open('movie-xmask.npy', 'wb') as f:
    np.save(f, tokens['attention_mask'])

In [43]:
df['point'] = df['point'].str.replace(',','.')
df.head()

                                             comment point
0  jean reno deni zaten leon film gelir akl izlem...   5.0
1  ekşı falan izlemek istiyor bun izlemey dost ke...   5.0
2  yap hakk öyl yazabilir kitap olur yüz kıs kesm...   5.0
3  finali yeter sting shape of my heart bazı film...   5.0
4  jean reno ada kusurs oyunculug müthiş film baş...   5.0

In [44]:
df["point"] = df["point"].astype(float)

In [45]:
df["point"] = df["point"].round().astype('int')

In [47]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse=False)
labels_one_hot = one_hot_encoder.fit_transform(df["point"].to_numpy().reshape(-1,1))
labels_one_hot

array([[0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       ...,
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [48]:
with open("movie-labels.npy", "wb") as f:
    np.save(f, labels_one_hot)